<p>
  La cantidad
  : {{ myShoppingCart.length }}
</p>
<p>
  Total: {{ total }}
</p>
<!-- este pipe llamado date me sirve para tipar la fecha existen formatos de fecha por defecto -->
<p>
  Today: {{ today | date:'short' }}
</p>
<p>
  Today: {{ today | timeAgo }}
</p>
<!-- o tambien puedo poner el formato que yo quiera -->
<p>
  Other Date: {{ date | date:'yyyy.dd.MM' }}
</p>
<!-- este pipe me sirve para poner todo el string en mayuscula -->
<p>
  {{ 'AnDrEs StOrE' | uppercase }}
</p>
<button (click)="createNewProduct()">create</button>
<button (click)="onShowDetail('121212')">Detail not found</button>
<div class="products--grid">
  <app-product [product]=" product" *ngFor="let product of products" (addedProduct)="onAddToShoppingCart($event)" (showProduct) = "onShowDetail($event)" ></app-product>
  <button (click)="OnLoadMore()" >Load more</button>
</div>
<div class="product-detail" [class.active]="showProductDetail">
  {{ statusDetail }}
  <div *ngIf="productChosen">
    <div class="product-detail-close">
      <img src="../../../assets/icons/icon_close.png" alt="close" (click)="toggleProductDetail()">
    </div>
    <!-- <button (click)="toggleProductDetail()">Close</button> -->

    <swiper [slidesPerView]="1" >
      <ng-template  swiperSlide *ngFor="let img of productChosen.images">
        <div class="product-card-swiper">
          <img [src]="img" alt="">
        </div>

      </ng-template>
    </swiper>
    <h1> {{ productChosen.title }}</h1>
    <p> {{ productChosen.description }} </p>
    <button (click)="updateProduct()">Editar</button>
    <button (click)="deleteProduct()" >Delete</button>
  </div>
</div>
